html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to bottom right, #272d50, #b6b8c2);
    background-repeat: no-repeat;
    background-size: 100vw 300vh;
    margin: 0;
    font-family: Arial, Verdana;
}

.nav-bar {
    background-color: #b6b8c2;
    padding: 10px;
    width: 100%;
    font-family: Verdana, Arial;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-bar li {
    display: inline;
    margin: 0 10px;
}

.nav-bar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #251a1a;
    position: relative;
    transition: color 0.6s;
}

.nav-bar li a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    transition: transform 0.6s;
}

.nav-bar li a:hover {
    color: #ff6347;
    cursor: pointer;
}

.nav-bar li a:hover::after {
    transform: scaleX(1);
}

/* Media Query para dispositivos móveis */
@media screen and (max-width: 680px) {
    nav ul {
      text-align: center;
      justify-content: center;
    }

    nav li {
      font-size: 13px;
    }
}

/* HR */

hr {
    border: none; 
    height: 2px; 
    background-color: #272d50; 
    margin: 20px 0; 
  }

/* Apresentação */

.container-apresentacao{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    padding-top: 50px;
}

.text-apresentacao{
    margin-top: 3%;
}

.text-apresentacao h1 {
    font-size: 32px;
    font-weight: bold;
    color: #5b6ccf;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
    
}

.text-apresentacao p {
    margin-left: 3%;
}

.text-apresentacao a {
    transition: color 0.3s;
    color: #5b6ccf;
    text-decoration: none;
}

.text-apresentacao a:hover {
    color: #2b45d8;
    cursor: pointer; 
}

.text-apresentacao h1:first-child {
    margin-bottom: 10px;
}
  
.text-apresentacao h1:last-child {
    margin-top: 10px;
}

.image-apresentacao img {
    display: block;
    background-image: linear-gradient(to bottom right, #9ec8cf, #ffffff);
    width: 70%;
    border: 2px solid #272d50;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    transition: background-image 0.3s ease;
    margin-left: 10%;
    object-fit: cover;
    transition: transform 0.6s ease;
    border-radius: 100%;
}
  
.image-apresentacao img:hover {
    background-image: url(https://media1.giphy.com/media/V4NSR1NG2p0KeJJyr5/giphy.gif?cid=ecf05e472c04gwhzn761p128umd7jkf52vfshuw7vwd0xxj3&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Media Query para dispositivos móveis */
@media screen and (max-width: 680px) {
    .container-apresentacao{
        display: block;
    }
    .text-apresentacao{
        justify-content: center;
        text-align: center;
    }
}

/* Texto Sobre mim */
.styled-div {
    color: #b6b8c2;
    padding: 20px;
    border-radius: 5px;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 15%;
    margin-top: 10%;
}

.styled-div, h2 {
    color: #516fc4;
    font-size: 26px;
    margin-bottom: 10px;
}

.styled-div, p {
    color: #cbd6fc;
    font-size: 17px;
}

.image-container {
    height: 630px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.6s;
}

.image-container:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#my-projects {
    font-size: 36px; 
    color: #6b7ff1;
    text-align: center; 
    margin-top: 60px; 
    text-transform: uppercase; 
    letter-spacing: 3px;
    font-weight: bold; 
    font-family: Verdana, Arial;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 70px;
}

.project {
    background-color: #5462b1; 
    border: 1px solid #ddd; 
    padding: 20px; 
    margin: 30px;
    transition: transform 0.2s;
}

.project:hover {
    transform: scale(1.02);
}
  
.project h2 {
    font-size: 24px;
    color: #ffffff; 
}
  
.project p {
    font-size: 16px; 
}
  
.project a {
    display: block;
    text-align: right; 
    color: #ffffff; 
    text-decoration: none;
}

.project .arrow {
    margin-left: 5px; /* Espaçamento entre "Ver mais" e a seta */
    font-size: 14px; /* Tamanho da fonte da seta */
}