/* Media Query para dispositivos móveis */
@media screen and (max-width: 680px) {
    nav ul {
      text-align: center;
      justify-content: center;
    }

    nav li {
      font-size: 13px;
    }
}

/* HR */

hr {
    border: none; 
    height: 2px; 
    background-color: #272d50; 
    margin: 20px 0; 
  }

/* Apresentação */

.container-apresentacao{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    padding-top: 50px;
}

.text-apresentacao{
    margin-top: 3%;
}

#links-networking{
    display: flex;
}

#links-networking i{
    padding-left: 10px;
}

#button-cv{
    padding: 10px 20px;
    color: #2b45d8;
    border-radius: 10px;
    border-color: #2b45d8;
    margin-top: 20px;
    background-color: transparent;
    transition: 0.2s;
}

#button-cv:hover{
    background-color: #2b45d8;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.text-apresentacao h1 {
    font-size: 32px;
    font-weight: bold;
    color: #5b6ccf;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
    
}

.text-apresentacao p {
    margin-left: 3%;
}

.text-apresentacao a {
    transition: color 0.3s;
    color: #5b6ccf;
    text-decoration: none;
}

.text-apresentacao a:hover {
    color: #2b45d8;
    cursor: pointer; 
}

.text-apresentacao h1:first-child {
    margin-bottom: 10px;
}
  
.text-apresentacao h1:last-child {
    margin-top: 10px;
}

.image-apresentacao img {
    display: block;
    background-image: linear-gradient(to bottom right, #252a2b, #6e6767);
    width: 70%;
    border: 2px solid #272d50;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    transition: background-image 0.3s ease;
    margin-left: 10%;
    object-fit: cover;
    transition: transform 0.6s ease;
    border-radius: 100%;
}
  
.image-apresentacao img:hover {
    background-image: url(https://media1.giphy.com/media/V4NSR1NG2p0KeJJyr5/giphy.gif?cid=ecf05e472c04gwhzn761p128umd7jkf52vfshuw7vwd0xxj3&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.whatsapp-button {
    display: inline-block;
    background-color: #25d366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #128c67;
}

.whatsapp-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('https://cdn-icons-png.flaticon.com/512/1384/1384023.png') no-repeat center;
    background-size: contain;
    margin-right: 10px;
    vertical-align: middle;
}

/* Media Query para dispositivos móveis */
@media screen and (max-width: 680px) {
    .container-apresentacao{
        display: block;
    }
    .text-apresentacao{
        justify-content: center;
        text-align: center;
    }
}

/* Sobre mim */

#about-me{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    color: #ffffff;
}

#about-me strong:hover{
    color: #25d366;
    cursor: pointer;
}

#link-historia{
    display: block; /* Garante que o link ocupa a largura total disponível */
    text-align: center; /* Centraliza o texto horizontalmente dentro do link */
    margin: 10px auto;
    margin-bottom: 35px;
    width: 200px;
    text-decoration: none;
    color: #2b45d8;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #2b45d8;
    background-color: transparent;
}

#link-historia:hover{
    background-color: #2b45d8;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#title-sobre{
    font-size: 36px; 
    color: #6b7ff1;
    text-align: center; 
    margin-top: 190px; 
    text-transform: uppercase; 
    letter-spacing: 3px;
    font-weight: bold; 
    font-family: Verdana, Arial;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 70px;
}

#habilidades-certificacoes{
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: space-between;
    
}

#habilidades{
    background-color: #4d5169;
    height: 880px;
    width: 340px;
    border-radius: 10px;
    transition: transform 0.2s;
}

#habilidades h4{
    margin-left: 60px;
}

#habilidades:hover{
    transform: scale(1.02);
    cursor: pointer;
}

#certificacoes{
    background-color: #4d5169;
    height: 880px;
    width: 340px;
    border-radius: 10px;
    transition: transform 0.2s;
}

#certificacoes h4{
    text-align: center;
}

#certificacoes:hover{
    transform: scale(1.02);
    cursor: pointer;
}

#habilidades-certificacoes div h3{
    font-size: 22px; 
    color: #6b7ff1;
    text-align: center; 
    margin-top: 60px; 
    text-transform: uppercase; 
    letter-spacing: 3px;
    font-weight: bold; 
    font-family: Verdana, Arial;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

#sub-title{
    font-size: 18px; 
    color: #6b7ff1;
    text-align: center; 
    margin-top: 60px; 
    text-transform: uppercase; 
    letter-spacing: 3px;
    font-weight: bold; 
    font-family: Verdana, Arial;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

#habilidades-certificacoes h4{
    font-size: 16px;
    color: #1b203f;
}

#habilidades:hover h4{
    color: #34d12f;
}

#certificacoes:hover h4{
    color: #34d12f;
}

#habilidades-certificacoes span{
    font-size: 14px;
    padding-left: 10px;
    color: #a2a8cc;
}

/* Projetos */

#title-projects {
    font-size: 36px; 
    color: #6b7ff1;
    text-align: center; 
    margin-top: 60px; 
    text-transform: uppercase; 
    letter-spacing: 3px;
    font-weight: bold; 
    font-family: Verdana, Arial;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 70px;
}

#project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    position: relative;
    background-color: #5462b1;
    width: 18%;
    height: 390px;
    border-radius: 10px;
    border: 1px solid #ddd; 
    padding: 20px; 
    margin: 30px;
    transition: transform 0.2s;
}

.project:hover {
    transform: scale(1.02);
}
  
.project h2 {
    font-size: 24px;
    color: #ffffff; 
}
  
.project p {
    font-size: 16px; 
}
  
.project a {
    display: block;
    color: #ffffff; 
    text-decoration: none;
    text-align: center;
}

.project .arrow {
    margin-left: 5px;
    font-size: 14px;
}

.description-text{
    color: #ffffff;
    font-size: 13px;
    text-decoration-line: underline;
}

#project-img{
    display: flex;
}

#project-img img{
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid;
}

#project-img_cadastro img{
    width: 100%;
    border-radius: 10px;
    border: 1px solid;
}

#project-img_portfolio img{
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    border: 1px solid;
}

#project-img_solo img{
    display: block;
    margin: 0 auto;
    width: 70%;
    border-radius: 10px;
    border: 1px solid;
}

.project-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 0 0 10px 10px;
}

.project-button:hover {
    background-color: #555;
}

.github-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('https://cdn-icons-png.flaticon.com/512/25/25231.png') no-repeat center;
    background-size: contain;
    margin-right: 10px;
    vertical-align: middle;
}

/* Media Query para dispositivos móveis */
@media screen and (max-width: 768px) {
    .nav-bar{
        position: relative;
    }

    .nav-bar ul {
        flex-direction: column;
        text-align: center;
    }
    
    .nav-bar li {
        margin: 5px 0;
    }

    #links-networking{
        justify-content: center;
    }

    .whatsapp-button{
        margin-top: 5%;
    }

    .text-apresentacao {
        margin-top: 10%;
    }

    .image-apresentacao{
        align-items: center;
    }

    .image-apresentacao img {
        margin: 0 auto;
        width: 80%;
    }

    #my-image{
        margin-top: 10%;
    }

    #about-me{
        text-align: center;
    }

    #habilidades-certificacoes {
        flex-direction: column;
        margin: 20px auto;
        align-items: center;
    }

    #habilidades,
    #certificacoes {
        width: 70%;
        margin: 10px 0;
        margin-bottom: 5%;
    }

    .project {
        width: 60%;
        margin: 10px;
        margin-bottom: 5%;
    }

    #project-img img{
        margin: 0 auto;
        width: 44%;
    }

    #project-img_cadastro img{
        width: 100%;
        margin: 0 auto;
    }

    #project-img_solo img{
        display: block;
        width: 70%;
        margin: 0 auto;
    }

    .footer-content {
        text-align: center;
    }
}