{% extends 'base.html' %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/historia.css'%}">
{% endblock %}

{% block content %}
    <div class="container">
        <div id="text-historia">
            <h1>Minha História</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate fringilla magna, in volutpat tellus rhoncus in. Donec sodales, velit 
                sit amet tincidunt laoreet, justo nunc bibendum sem, nec posuere odio purus at justo. Ut id congue metus, eu iaculis eros. Nullam gravida efficitur 
                arcu, vel dignissim tellus sollicitudin eget. Pellentesque quis mi eget turpis auctor lacinia et in quam. Vestibulum rhoncus odio nec elit blandit 
                egestas.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate fringilla magna, in volutpat tellus rhoncus in. Donec sodales, velit 
                sit amet tincidunt laoreet, justo nunc bibendum sem, nec posuere odio purus at justo. Ut id congue metus, eu iaculis eros. Nullam gravida efficitur 
                arcu, vel dignissim tellus sollicitudin eget. Pellentesque quis mi eget turpis auctor lacinia et in quam. Vestibulum rhoncus odio nec elit blandit 
                egestas.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate fringilla magna, in volutpat tellus rhoncus in. Donec sodales, velit 
                sit amet tincidunt laoreet, justo nunc bibendum sem, nec posuere odio purus at justo. Ut id congue metus, eu iaculis eros. Nullam gravida efficitur 
                arcu, vel dignissim tellus sollicitudin eget. Pellentesque quis mi eget turpis auctor lacinia et in quam. Vestibulum rhoncus odio nec elit blandit 
                egestas.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate fringilla magna, in volutpat tellus rhoncus in. Donec sodales, velit 
                sit amet tincidunt laoreet, justo nunc bibendum sem, nec posuere odio purus at justo. Ut id congue metus, eu iaculis eros. Nullam gravida efficitur 
                arcu, vel dignissim tellus sollicitudin eget. Pellentesque quis mi eget turpis auctor lacinia et in quam. Vestibulum rhoncus odio nec elit blandit 
                egestas.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate fringilla magna, in volutpat tellus rhoncus in. Donec sodales, velit 
                sit amet tincidunt laoreet, justo nunc bibendum sem, nec posuere odio purus at justo. Ut id congue metus, eu iaculis eros. Nullam gravida efficitur 
                arcu, vel dignissim tellus sollicitudin eget. Pellentesque quis mi eget turpis auctor lacinia et in quam. Vestibulum rhoncus odio nec elit blandit 
                egestas.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate fringilla magna, in volutpat tellus rhoncus in. Donec sodales, velit 
                sit amet tincidunt laoreet, justo nunc bibendum sem, nec posuere odio purus at justo. Ut id congue metus, eu iaculis eros. Nullam gravida efficitur 
                arcu, vel dignissim tellus sollicitudin eget. Pellentesque quis mi eget turpis auctor lacinia et in quam. Vestibulum rhoncus odio nec elit blandit 
                egestas.
            </p>
        </div>
    </div>
{% endblock %}