{% extends 'base.html' %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css'%}">
{% endblock %}

{% block content %}
        <!--  Apresentação  -->
        <div class="container-apresentacao">
            <div class="text-apresentacao">
                <h1>Bem-vindo(a) ao meu Portfólio</h1>
                <hr>
                <h1>Networking</h1>
                <div id="links-networking">
                    <a href="https://github.com/KristoferBorges" target="_blank"><i class="fab fa-github" style="color: #5180d2;"></i></a>
                    <a href="https://www.linkedin.com/in/kristofer-borges/"><i class="fab fa-linkedin-in" style="color: #5180d2;"></i></a>
                    <a href="https://www.instagram.com/kristoferborges/"><i class="fab fa-instagram" style="color: #5180d2;"></i></a>
                    <a href="https://www.facebook.com/KristoferDeSouzaBorges/"><i class="fab fa-facebook-f" style="color: #5180d2;"></i></a>
                </div>
                <button id="button-cv">Download CV</button>
                <hr>
                <a href="https://api.whatsapp.com/send?phone=5511971333037" class="whatsapp-button" target="_blank">
                    <span class="whatsapp-icon"></span>
                    Entrar em Contato pelo WhatsApp
                </a>
            </div>
            <div class="image-apresentacao">
                <img id="my-image" src="https://i.imgur.com/6P7gT5t.png" alt="Minha imagem">
            </div>
        </div>
        <!--  Sobre mim  -->
        <h1 id="title-sobre">Sobre mim</h1>
        <div id="about-me">
            <p>
                Me chamo <strong>Kristofer Borges</strong>, tenho 22 anos e atualmente estou em busca da minha primeira oportunidade como <strong>desenvolvedor</strong>.<br>
            </p>
        </div>
        <a id="link-historia" href="#historia">Veja minha história</a>
        <div id="habilidades-certificacoes">
            <div id="habilidades">
                <h3>Habilidades</h3>
                <hr>
                <h1 id="sub-title">Linguagens</h1>
                <h4>✦ Python<span>(Avançado)</span></h4>
                <h4>✦ C#<span>(Intermediário)</span></h4>
                <h4>✦ C++<span>(Básico)</span></h4>
                <h4>✦ JavaScript<span>(Básico)</span></h4>
                <h1 id="sub-title">Frameworks</h1>
                <h4>✦ Kivy<span>(Intermediário)</span></h4>
                <h4>✦ Django<span>(Básico)</span></h4>
                <h4>✦ Angular<span>(Básico)</span></h4>
                <h1 id="sub-title">Bibliotecas</h1>
                <h4>✦ Pandas<span>(Intermediário)</span></h4>
                <h4>✦ Pygame<span>(Básico)</span></h4>
            </div>
            <div id="certificacoes">
                <h3>Certificações</h3>
                <hr>
                <h1 id="sub-title">Curso em Vídeo</h1>
                <h4>✦ Python Mundo 1 ✦</h4>
                <h4>✦ Python Mundo 2 ✦</h4>
                <h4>✦ Python Mundo 3 ✦</h4>
                <h4>✦ MySQL ✦</h4>
                <h4>✦ Linux ✦</h4>
                <h1 id="sub-title">Fundação Bradesco</h1>
                <h4>✦ Lógica de Programação ✦</h4>
                <h4>✦ Linguagem C# (Básico)✦</h4>
                <h4>✦ Linguagem C# (Avançado)✦</h4>
                <h4>✦ Introdução ao Python ✦</h4>
                <h4>✦ HTML5 ✦</h4>
                <h4>✦ Inovando com CSS ✦</h4>
                <h1 id="sub-title">Udemy</h1>
                <h4>✦ Curso de Python ✦</h4>
                
            </div>
        </div>
        <!--  Projetos  -->
        <h1 id="title-projects">Meus Projetos</h1>
        <div id="project-list">

            <section class="project">
                <h2>Consulta de Metas v1.0</h2>
                <p class="description-text">Python</p>
                <div id="project-img_portfolio">
                    <img src="https://i.imgur.com/CtQPBoz.png">                  
                </div>
                <a href="https://github.com/KristoferBorges/ConsultaDeMetas_v1.0" class="project-button" target="_blank">
                    <span class="github-icon"></span>
                    GitHub
                </a>
            </section>

            <section class="project">
                <h2>Consulta de Metas v2.0</h2>
                <p class="description-text">Python | Kivy | Pandas</p>
                <div id="project-img">
                    <img src="https://i.imgur.com/nh5RnRT.png">
                    <img src="https://i.imgur.com/LKfbwjy.png">                   
                </div>
                <a href="https://github.com/KristoferBorges/ConsultaDeMetas_v2.0" class="project-button" target="_blank">
                    <span class="github-icon"></span>
                    GitHub
                </a>         
            </section>

            <section class="project">
                <h2>Jogo do Poder</h2>
                <p class="description-text">Python</p>
                <div id="project-img">
                    <img src="https://i.imgur.com/utzRQEi.png">
                    <img src="https://i.imgur.com/As5YKuL.png">                   
                </div>
                <a href="https://github.com/KristoferBorges/Back-End-PowerGame" class="project-button" target="_blank">
                    <span class="github-icon"></span>
                    GitHub
                </a>  
            </section>

            <section class="project">
                <h2>Cadastro de Funcionários</h2>
                <p class="description-text">Angular | Node.JS | REST API | MySQL</p>
                <div id="project-img_cadastro">
                    <img src="https://i.imgur.com/wRcLe9s.png">                  
                </div>
                <a href="https://github.com/KristoferBorges/Processo_Seletivo" class="project-button" target="_blank">
                    <span class="github-icon"></span>
                    GitHub
                </a>  
            </section>

            <section class="project">
                <h2>Portfólio</h2>
                <p class="description-text">HTML5 | CSS3 | JavaScript | Django</p>
                <div id="project-img_portfolio">
                    <img src="https://i.imgur.com/LBOdF7S.png">                  
                </div>
                <a href="https://github.com/KristoferBorges/Portfolio" class="project-button" target="_blank">
                    <span class="github-icon"></span>
                    GitHub
                </a>
            </section>

            <section class="project">
                <h2>+ 100 Exercícios</h2>
                <p class="description-text">Diversos++</p>
                <div id="project-img_solo">
                    <img src="https://i.imgur.com/4Ol9j7R.png">                  
                </div>
                <a href="https://github.com/KristoferBorges/Python-Exercises" class="project-button" target="_blank">
                    <span class="github-icon"></span>
                    GitHub
                </a>
            </section>
        </div>
{% endblock %}