{% load static %}
<!DOCTYPE html>
<html lang="en"></html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'style/style.css'%}">
        <title>Portfólio de Kristofer</title>
    </head>
    <body>
        <nav class="nav-bar">
            <ul>
              <li><a href="#sobre">Sobre mim</a></li>
              <li><a href="#historia">Minha história</a></li>
              <li><a href="#conhecimento">Meus Conhecimento</a></li>
              <li><a href="#projetos">Projetos</a></li>
              <li><a href="#contatos">Contatos</a></li>
            </ul>
        </nav>
        <div class="container-apresentacao">
            <div class="text-apresentacao">
                <h1>Bem-vindo(a) ao meu Portfólio</h1>
                <p>► Site criado com Django + Python</p>
                <p>► Possuí reponsividade com aparelhos celulares</p>
                <hr>
                <h1>Networking</h1>
                <p>► GitHub - <a href="https://github.com/KristoferBorges">Clique aqui para acessar</a></p>
                <p>► LinkedIn - <a href="https://www.linkedin.com/in/kristofer-borges/">Clique aqui para acessar</a></p>
                <p>► Facebook - <a href="https://www.facebook.com/KristoferDeSouzaBorges/">Clique aqui para acessar</a></p>
                <p>► Instagram - <a href="https://www.instagram.com/kristoferborges/">Clique aqui para acessar</a></p>
                <p>► Currículo - <a href="https://drive.google.com/uc?export=download&id=1OUn69RpTW2glUy5GQ6acKWt2C-KHM5j2" target="_blank">Clique aqui para baixar</a>
                <hr>
            </div>
            <div class="image-apresentacao">
                <img src="https://i.imgur.com/6P7gT5t.png" alt="Minha imagem">
            </div>
        </div>
        <div class="styled-div">
            <h2 id="sobre">Sobre mim</h2>
            <p>Minha vida gira em torno do consumo de tecnologia. Eu a utilizo todos os dias de diferentes maneiras.</p>
            <p>Quando percebi o quanto realmente gostava de usá-la, pensei: por que não criar tecnologia?</p>
            <p>Desde então, tenho certeza de que minha profissão precisa estar ligada a esse assunto.</p>
            <p>Estou prestes a me formar em Análise e Desenvolvimento de Sistemas e pratico diariamente meu inglês e minhas habilidades de programação.</p>
            <p>Tenho uma boa criatividade, que desenvolvi enquanto aprendia a lógica por trás da programação.</p>
            <p>Assim, crio projetos e scripts que possam me ajudar de alguma forma.</p>
            <p>Tenho uma afinidade maior com a área de Back-End, pois é lá que a mágica acontece.</p>
            <p>No momento, estou em busca da minha primeira oportunidade de emprego.</p>
            <p>Já faz quase um ano que estou procurando, mas ainda não encontrei uma vaga.</p>
            <p>Cheguei até a considerar começar algo por conta própria, pois não gosto de depender dos outros.</p>
            <p>No entanto, ainda gostaria de trabalhar em um ambiente colaborativo e empresarial.</p>
            <div class="image-container">
                <img class="my-image" src="https://i.imgur.com/tBDGcfP.png" alt="Minha imagem">
            </div>
        </div>
        <script src="{% static 'scripts/script.js' %}"></script>
    </body>
</html>