{% load static %}
<!DOCTYPE html>
<html lang="en"></html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'style/style.css'%}">
        <title>Portfólio de Kristofer</title>
    </head>
    <body>
        <nav class="nav-bar">
            <ul>
              <li><a href="#sobre">Sobre mim</a></li>
              <li><a href="#historia">Minha história</a></li>
              <li><a href="#conhecimento">Meus Conhecimento</a></li>
              <li><a href="#projetos">Projetos</a></li>
              <li><a href="#contatos">Contatos</a></li>
            </ul>
        </nav>
        <div class="container-apresentacao">
            <div class="text-apresentacao">
                <h1>Bem-vindo(a) ao meu Portfólio</h1>
                <hr>
                <h1>Networking</h1>
                <p>► GitHub - <a href="https://github.com/KristoferBorges">Clique aqui para acessar</a></p>
                <p>► LinkedIn - <a href="https://www.linkedin.com/in/kristofer-borges/">Clique aqui para acessar</a></p>
                <p>► Facebook - <a href="https://www.facebook.com/KristoferDeSouzaBorges/">Clique aqui para acessar</a></p>
                <p>► Instagram - <a href="https://www.instagram.com/kristoferborges/">Clique aqui para acessar</a></p>
                <p>► Currículo - <a href="https://drive.google.com/uc?export=download&id=1OUn69RpTW2glUy5GQ6acKWt2C-KHM5j2" target="_blank">Clique aqui para baixar</a>
                <hr>
            </div>
            <div class="image-apresentacao">
                <img id="my-image" src="https://i.imgur.com/6P7gT5t.png" alt="Minha imagem">
            </div>
        </div>
        <div class="styled-div">
            <h2 id="sobre">Sobre mim</h2>
            <p>
                Minha vida gira em torno do consumo de tecnologia, que utilizo diariamente de diversas maneiras.
                Quando percebi o quanto realmente gostava de usá-la, questionei a mim mesmo: por que não criar tecnologia? Desde então, tenho a certeza de que minha profissão deve estar intrinsecamente ligada a esse assunto.
            </p>
            <p>
                Estou prestes a me formar em Análise e Desenvolvimento de Sistemas, praticando diariamente o aprimoramento do meu inglês e minhas habilidades de programação.
                Minha boa criatividade se desenvolveu enquanto aprendia a lógica por trás da programação, e agora a utilizo para criar projetos e scripts que me auxiliem de variadas maneiras. Tenho uma afinidade maior com a área de Back-End, pois é lá que a magia realmente acontece.
            </p>
            <p>
                No momento, estou em busca da minha primeira oportunidade de emprego.
                Já se passou quase um ano desde que comecei minha busca, porém ainda não encontrei a vaga ideal.
                Cheguei até a considerar começar algo por conta própria, pois não gosto de depender dos outros. No entanto, ainda desejo trabalhar em um ambiente colaborativo e empresarial.
            </p>
            <div class="image-container">
                <img class="my-image" src="https://i.imgur.com/tBDGcfP.png" alt="Minha imagem">
            </div>
        </div>

        <h1 id="my-projects">Meus Projetos</h1>

        <section class="project">
            <h2>Projeto 1</h2>
            <p>Descrição do projeto 1.</p>
            <a href="#">Ver mais</a>
          </section>
        
          <section class="project">
            <h2>Projeto 2</h2>
            <p>Descrição do projeto 2.</p>
            <a href="#">Ver mais</a>
          </section>
        
          <section class="project">
            <h2>Projeto 3</h2>
            <p>Descrição do projeto 3.</p>
            <a href="#">Ver mais</a>
          </section>

        <script src="{% static 'scripts/script.js' %}"></script>
    </body>
</html>